@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.hover::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: var(--mdc-size-spacing-16);
  width: calc(100% - 2rem);
  height: var(--mdc-size-spacing-4);
  background: #0000;
  box-sizing: inherit;
}

html{
  scroll-behavior: smooth;
}